<template>
<div>
  <!-- Page Content -->
  <div v-if="publ" class="container border-0 rounded">

    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>Paintings</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div v-for="m in Math.ceil(paints.length/3)" class="row">

      <div v-for="n in 3" v-if="((m-1)*3+(n-1))<paints.length" class="col-md-3 portfolio-item">
        <span>
          <img class="img-responsive" :src="paints[(m-1)*3+(n-1)].photo" alt="">
        </span>
        <h3>
          <span><strong>{{paints[(m-1)*3+(n-1)].name}}</strong></span>
        </h3>
        <p>
          {{paints[(m-1)*3+(n-1)].description}}
        </p>
      </div>

    </div>

    <div v-if="paints.length<1" class="row">

      <div class="col-md-2 col-md-offset-5">No Paintings for this User</div>

    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>Sculptures</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div v-for="m in Math.ceil(sculps.length/3)" class="row">

      <div v-for="n in 3" v-if="((m-1)*3+(n-1))<sculps.length" class="col-md-3 portfolio-item">
        <span>
          <img class="img-responsive" :src="sculps[(m-1)*3+(n-1)].photo" alt="">
        </span>
        <h3>
          <span><strong>{{sculps[(m-1)*3+(n-1)].name}}</strong></span>
        </h3>
        <p>
          {{sculps[(m-1)*3+(n-1)].description}}
        </p>
      </div>

    </div>

    <div v-if="sculps.length<1" class="row">

      <div class="col-md-3 col-md-offset-5">No Sculptures for this User</div>

    </div>

    <hr>

    <!-- Pagination -->

    <!-- /.row -->
  </div>
  </div>
</template>
<script>
    export default {

        data() {
            return {
                tmpLen: 0,
                noPage: 1,
                currentPage: 1,
                objs: '',
                selected:'',
                paints:'',
                sculps:'',
                pubID:'',
                publ:true
            }
        },

        methods: {
            getPaintings() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/'+this.pubID).then(response => {
                    this.paints = response.body.painted
                }, response => {
                    // error callback
                })
            },
            
            getSculps() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/'+this.pubID).then(response => {
                    this.sculps = response.body.sculpted
                }, response => {
                    // error callback
                })
            }
            
        },

        created() {
            this.pubID = this.$route.params.id;
            this.getPaintings()
            this.getSculps()
        },
        watch: {
            '$route' (to, from) {
                // react to route changes...

                
                if(to.path.startsWith("/app/profile/")) {
                    
                    this.pubID = this.$route.params.id;
                    this.getPaintings()
                    this.getSculps()
                } else {
					this.pubID = localStorage.getItem('id')
					this.getPaintings()
                    this.getSculps()
                }



            }
        }
    }
</script>
<style scoped>
  /*!
 * Start Bootstrap - 3 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

  body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }

  .portfolio-item {
    margin-bottom: 25px;
  }

  footer {
    margin: 50px 0;
  }

</style>
