<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li>
            <router-link :to="{path:'/admin'}"></router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        Art Gallery (CSE370 Group Project)
      </div>
    </div>
  </footer>
</template>
<script>
  export default {}

</script>
<style>

</style>
