<template>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>User List</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div v-for="m in Math.ceil(objs.length/3)" class="row">

            <div v-for="n in 3" v-if="((m-1)*3+(n-1))<objs.length" class="col-md-3 portfolio-item">
        <span>
          <img class="img-responsive" :src="objs[(m-1)*3+(n-1)].profile_photo" alt="">
        </span>
                <h3>
                    <span><i><router-link
                            :to="'/app/profile/'+objs[(m-1)*3+(n-1)].id">{{objs[(m - 1) * 3 + (n - 1)].name}}</router-link></i></span>
                </h3>
                <p>
                    Email: {{objs[(m - 1) * 3 + (n - 1)].email}} <br>
                    Phone: {{objs[(m - 1) * 3 + (n - 1)].phone}} <br>
                </p>
                <div v-if="isAdmin" class="btn sm" @click="deletePhoto(objs[(m-1)*3+(n-1)].id)">Delete</div>

            </div>

        </div>

        <div v-if="objs.length<1" class="row">

            <h3>No users found</h3>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <hr>

        <!-- Pagination -->

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">

                    <li>
                        <a>&laquo;</a>
                    </li>
                    <li v-for="n in noPage" :class="{active:n==currentPage}">
                        <router-link :to="''+n">{{n}}</router-link>
                    </li>
                    <li>
                        <a>&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /.row -->
    </div>
</template>
<script>
    import PaperNotification from 'src/components/UIComponents/NotificationPlugin/Notification.vue'

    export default {

        data() {
            return {
                editMode: false,
                tmpLen: 0,
                noPage: 1,
                currentPage: 1,
                objs: '',
                selected: '',
                isAdmin: false,
                type: ['', 'info', 'success', 'warning', 'danger'],
                notifications: {
                    topCenter: false
                }
            }
        },

        methods: {
            deletePhoto(iid) {

                this.$http.delete('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/' + iid).then(response => {
                    // success callback
                    this.getUsers();
                    this.notifyVue('top', 'right', 'User Scuccessfully Deleted!!')
                }, response => {
                    // error callback
                });


            },
            notifyVue(verticalAlign, horizontalAlign, msg) {
                var color = Math.floor((Math.random() * 4) + 1)
                this.$notifications.notify(
                    {
                        message: '<b>' + msg + '</b>',
                        icon: 'ti-check',
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[2]
                    })
            },
            getUsers() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist?page=' + this.currentPage).then(response => {
                    this.noPage = response.body.total_pages
                    this.currentPage = response.body.page
                    this.objs = response.body.objects

                }, response => {
                    // error callback
                })
            }

        },

        created() {
            this.currentPage = this.$route.params.id;
            if (localStorage.getItem('id') == 999999) {
                this.isAdmin = true;
            }
            this.getUsers();
        },
        watch: {
            '$route'(to, from) {
                // react to route changes...
                this.currentPage = this.$route.params.id;

                if (to.path.startsWith("/app/users/")) {
                    this.getUsers();
                }

            }
        },
        components: {
            PaperNotification
        }
    }
</script>
<style scoped>
    /*!
   * Start Bootstrap - 3 Col Portfolio (http://startbootstrap.com/)
   * Copyright 2013-2016 Start Bootstrap
   * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
   */

    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .portfolio-item {
        margin-bottom: 25px;
    }

    footer {
        margin: 50px 0;
    }
</style>
