<template>
  <div class="card">
    <div class="container">

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h2>Please Login</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="form-group has-danger">
              <label class="sr-only" for="email">Username</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                <input v-model="email" type="text" name="email" class="form-control" id="email"
                       placeholder="Username/Email" required autofocus>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="sr-only" for="password">Password</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                <input v-model="password" type="password" name="password" class="form-control" id="password"
                       placeholder="Password" required>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>

        </div>
        <div class="row" style="padding-top: 1rem">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <button @click="login" type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
            <router-link class="btn btn-link" to="/app/register">Register</router-link>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
    import PaperNotification from 'src/components/UIComponents/NotificationPlugin/Notification.vue'
    export default {
        data () {
            return {
                type: ['', 'info', 'success', 'warning', 'danger'],
                notifications: {
                    topCenter: false
                },
                status:''
                }

        },
        methods: {
            notifyVue (verticalAlign, horizontalAlign) {
                var color = Math.floor((Math.random() * 4) + 1)
                this.$notifications.notify(
                    {
                        message: '<b>Successfully logged in!!</b>',
                        icon: 'ti-check',
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[2]
                    })
            },
            notifyVue2 (verticalAlign, horizontalAlign) {
                var color = Math.floor((Math.random() * 4) + 1)
                this.$notifications.notify(
                    {
                        message: '<b>Invalid Credentials!!</b>',
                        icon: 'ti-cross',
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[4]
                    })
            },
            login () {
                if (this.email == 'admin' && this.password == 'admin') {
                    localStorage.setItem('id', 999999)
                    this.$router.push('/app/users/1')
                    this.$router.go({
                        path: this.$router.path,
                        query: {
                            t: +new Date()
                        }
                    })
                    this.notifyVue('top', 'right')
                } else {

                    this.$http.post('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/login/', {
                        email: this.email,
                        password: this.password
                    }).then(response => {
                        localStorage.setItem('id', response.body.id)
                        this.$router.push('/app/profile')
                        this.$router.go({
                            path: this.$router.path,
                            query: {
                                t: +new Date()
                            }
                        })
                        this.notifyVue('top', 'right')
                    }, response => {
                        this.notifyVue2('top', 'right')
                    });
                }
            }

        },
        components: {
            PaperNotification
        }
    }

</script>
<style>

</style>
