<template>
  <div>
    <h1>Register New Account</h1>
    <div class="row">

      <div class="col-md-12">
        <fg-input type="text"
                  label="Username/Email"
                  placeholder="Username/Email"
                  v-model="user.email">
        </fg-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <fg-input type="text"
                  label="Name"
                  placeholder="Full Name"
                  v-model="user.name">
        </fg-input>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <fg-input type="text"
                  label="Gender"
                  placeholder="Gender"
                  v-model="user.gender">
        </fg-input>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <fg-input type="text"
                  label="Phone"
                  placeholder="Phone"
                  v-model="user.phone">
        </fg-input>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <fg-input type="text"
                  label="Profile Picture Link"
                  placeholder="Profile Picture Link"
                  v-model="user.profile_photo">
        </fg-input>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <fg-input type="password"
                  label="Password"
                  placeholder="Password"
                  v-model="user.password">
        </fg-input>
      </div>

    </div>





    <div class="text-center">
      <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="register">
        Register
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
<script>
    import PaperNotification from 'src/components/UIComponents/NotificationPlugin/Notification.vue'

    export default {

    data () {
      return {
        user: {

        }
      }
    },
    methods: {
        notifyVue (verticalAlign, horizontalAlign) {
            var color = Math.floor((Math.random() * 4) + 1)
            this.$notifications.notify(
                {
                    message: '<b>Successfully Registered!!</b>',
                    icon: 'ti-check',
                    horizontalAlign: horizontalAlign,
                    verticalAlign: verticalAlign,
                    type: this.type[2]
                })
        },
          register() {
              this.$http.post("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist",this.user).then(response => {
                  // success callback
                  this.$router.push('/app/login')
                  this.notifyVue('top', 'right')

              }, response => {
                  // error callback
              });
          },
        components: {
            PaperNotification
        }

    }
  }

</script>
<style>

</style>
